/*
** ESTILIZAÇÃO DO MÓDULO PAGARME
** SANTIVE.COM - rodrigo@santive.com / marcos@santive.com
*/

/**/

#aguardando{display:none;}

/*transferência*/
.payment-information{text-align:center;font-size:18px;font-weight:800;letter-spacing:-0.55pt;margin-bottom:10px;}
.bandeiras{margin:0;margin-bottom:10px;padding:0;text-align:center;}
.bandeiras .bandeira{text-align:center;border:1px solid #DFDFDF;-webkit-border-radius:5px;-moz-border-radius:5px;position:relative;border-radius:5px;width:53px;line-height:1;padding:2px 2px 0 2px;-moz-opacity:0.50;-khtml-opacity:0.50;opacity:0.50;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);filter:alpha(opacity=50);margin:10px 4px;display:inline-block;}
.bandeiras .bandeira.is-selected{border:1px solid rgb(0,165,0);-moz-opacity:1;-khtml-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:alpha(opacity=100);}
.bandeiras .bandeira i{display:none;position:absolute;}
.bandeiras .bandeira.is-selected i{position:absolute;display:inline-block;background:url('../image/bancos/valid-card-flag.png') center center no-repeat rgb(0,165,0);color:#fff;padding:2px;bottom:-1px;text-shadow:0 1px 0 #000;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;right:-1px;font-size:9px;margin:0;width:14px;height:14px;background-size:11px;}
.bandeiras .bandeira img{max-width:100%;height:auto;display:inline-block;margin:0;}

/*cartão*/
.dados_cartao{margin-bottom:10px;margin:20px auto;-moz-border-radius:5px;border-radius:5px;width:426px;background:#fff;-webkit-border-radius:5px;box-shadow:0 0 1px #666;padding:13px 20px 20px 20px;}
.dados_cartao .input-block-float{float:left;position:relative;margin-right:4px;}
.dados_cartao #cardBrand{display:inline-block;position:absolute;top:10px;left:107px;width:32px;}
.dados_cartao #cardBrand img{width:100%;}
.dados_cartao label{display:block;position:relative;cursor:pointer;margin-top:10px;}
.dados_cartao input,.dados_cartao select{-webkit-border-radius:5px;-moz-border-radius:5px;padding:10px;display:inline-block;border-radius:5px;background:#fff;outline:none;cursor:pointer;}
.dados_cartao #card_number.valid{background:url('../image/bancos/is-valid.png') center right no-repeat;padding-right:5px;}
#tool-tip-cvv{position:relative;}
#label-cvv:hover #tool-tip-content{display:block;}
#tool-tip-cvv i{}
#tool-tip-cvv #tool-tip-content{left:57px;width:60px;top:19px;position:absolute;display:block;}
#tool-tip-cvv #tool-tip-content:before{content:'';width:0;height:0;border-style:solid;border-width:5px 5px 5px 0;border-color:transparent #989898 transparent transparent;position:absolute;left:-5px;margin-top:12px;}
#tool-tip-cvv #tool-tip-content img{width:100%;}
@media (max-width:600px){
	.dados_cartao{width:100%;}
	.tool-tip-cvv{display:absolute;}
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,.cf:after{content:" "; /* 1 */display:table; /* 2 */}
.cf:after{clear:both;}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf{*zoom:1;}